body {
    margin: 0;
    padding: 0;
}

h1 {
    padding-top: 25px;
    text-align: center;
}

.wrap {
    width: 60%;
    margin: 15px auto;
    margin-bottom: 90px;
}

table {
    width: 100%;
    margin: 50px auto;
    border-collapse: collapse;
}

td {
    padding: 10px 20px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

th {
    padding-top: 20px;
    text-align: start;
    font-size: 18px;
    text-transform: uppercase;

}

input[type=text], input[type=number], input[type=email] {
    width: 100%;
    outline: none;
}

.submit {
    float: right;
}

input[type=reset] {
    background-color: #af4c61;
    color: white;
    padding: 12px 20px;
    margin-right: 30px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
input[type=reset]:hover {
    background-color: #a04545;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
input[type=submit]:hover {
    background-color: #45a049;
}